$text-color: #550033;
$bg-color: rgb(202, 218, 180);
$bg-highlight: rgb(216, 225, 96);

@font-face {
  font-family: "fontello";
  src: url("./res/fontello.woff?24106187") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  // color: $text-color;
  background: $bg-color;
  font-family: Arial, Helvetica, sans-serif;
}

.board-grid {
  margin: 20px;
  width: 600px;
  display: grid;
  //grid-template-columns: repeat(20, 5px); // set in code, matches number of cols
  grid-gap: 0px;
  color: #444;
}

#output {
position: absolute;
top: 46px;
right: 35px;
  width: 400px;
  #log {
    width: 100%;
    color: darken($bg-color, 40);
    padding: 10px;
    font-size: .8em;
    height: 400px;
    border: 1px solid darken($bg-color,  10);
    margin-bottom: 20px;
  }
}

$size: 30px;

.cell {
  display: inline-block;
  width: $size;
  height: $size;
  border: 1px solid #ccc;
  border-top-color: #fff;
  border-left-color: #fff;
  background-color: lighten($color: $bg-color, $amount: 7);
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;

  &.highlight {
    background-color: $bg-highlight;
    &.open {
      background-color: darken($bg-highlight, 10);
    }
  }

  &.open {
    border: 1px solid darken($color: $bg-color, $amount: 10);
    border-top-color: darken($color: $bg-color, $amount: 14);
    border-left-color: darken($color: $bg-color, $amount: 14);
    background-color: darken($color: $bg-color, $amount: 10);

    .count {
      opacity: 1;
    }
  }

  .count {
    padding-top: 0.35em;
    display: inline-block;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    pointer-events: none;
    opacity: 0.1;
  }
}

[class^="icon-"].open:before,
[class*="icon-"].open:before {
  opacity: 1;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  pointer-events: none;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.3em;
  margin-top: 0.3em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-flag:before {
  content: "\e800";
  color: rgb(16, 70, 141);
}
.icon-bomb:before {
  content: "\f1e2";
  color: rgb(168, 24, 24);
}
